.header {
height: 500px;
padding: 0 10px 0 10px;
overflow: hidden;
}

h1 {
padding: 40px 20px 30px 20px;

}

#image1 {
width: 100%;
height: 35%;
padding: 20px 20px 10px 20px;
}  

#bemvindo {
padding: 0px 0 50px 0;
height: 5px;
font-size: 20px;
font-weight: bolder;
color: #ce6c3f;
}

#first-p {
position: inherit;
padding-top: 110px;
}

.boxes {
text-align: center;
padding: 20px;
width: 100%;
overflow: hidden;

}

#box {
display: 
width: 280px;
padding: 40px;
font-size: 14px;
margin-right: 10px;
margin-left: 0px;
}

.email-form {
width: 100%;
overflow: hidden;
padding: 0;
padding-left: 10px;
}

#email-placeholder {
   padding: 5px; 
   width: 55%;
}


