* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

#wireframe {
  background: #595f96ff;
  max-width: 100%;
  max-height: 100%;
  padding-bottom: 30px;
  margin: auto;
}

h1 {
  display: block;
  box-sizing: border-box;
  margin: auto;
  text-align: center;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 30px;
  color: white;
  position: relative;
  top: 60px;
  overflow: auto;
}

#image1 {
  display: block;
  margin: 30px auto;
  padding: 60px;
  height: 190px;
  width: 420px;
  position: relative;
  top: 30px;
}

#first-p {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: bold;
  color: white;
  text-align: right;
  position: relative;
  right: 10px;
  top: 20px;
}

.container {
  display: block;
  text-align: center;
  box-sizing: border-box;
  margin: auto;
  background-color: #cd4d00ff;
  border: 2px;  
  padding: 15px;
  width: 100%;
  position: relative;
  top: 30px;
  overflow: auto;
}

.container p {
display: inline-block;
box-sizing: border-box;
text-align: center;
background-color: white;
margin: 20px auto;
margin-left: 40px;
margin-right: 40px;
padding: 55px;
width: 300px;
font-family: sans-serif;
font-weight: bold;
font-size: 18px;
color: #cd4d00ff;

}

.email-form {
  display: inline-block;
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  background-color: lightgrey;
  position: relative;
  top: 30px;
}
 
#email-placeholder { 
  display: inline-block;
  box-sizing: border-box;
  margin: 60px auto;
  padding: 8px;
  font-weight: bold;
  border: 1px;
  width: 30%;
  position: relative;
  left: 33%;
  border: 0.1px solid black;
  
} 

#email-button {
  display: inline-block;
  margin: 20px auto;
  padding: 8px;
  width: 70px;
  font-weight: bold;
  color: white;
  background-color: #cd4d00ff;
  border: 1px;
  position: relative;
  left: 32%;
  border: 0.1px solid black;
}




