* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: auto;
}

.header {
  background-color: #595f96ff;
  max-width: 100%;
  max-height: 70%;
  padding: 60px;
}

h1 {
  display: block;
  margin: auto; 
  text-align: center;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 30px;
  color: white;
}

#image1 {
  display: block;
  margin: auto;
  padding: 50px;
  padding-top: 20px;
  height: 25%;
  width: 50%;
 }

#bemvindo {
  display: block;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 30px;
  font-family: sans-serif;
  font-size: 27px;
  font-weight: bold;
  color: #ce6c3f;  
  text-align: center;
}

#first-p {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: bold;
  color: white;
  text-align: right;
  position: relative;
  top: 50px;
  left: 30px;

}

.boxes {
  background-color: #cd4d00ff;
  max-width: 100%;
  padding: 20px;
  margin: auto;
  text-align: center;
}

#box {
  display: inline-block;
  width: 330px;
  padding: 55px;
  margin: 20px auto;
  margin-right: 30px;
  margin-left: 30px;
  text-align: center;
  background-color: white;
  font-family: 'Roboto', sans-serif; 
  font-size: 16px;
  color: #cd4d00ff;  

}

.email-form {
  background-color: lightgrey;
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  font-size: 0;
}
 
#email-placeholder { 
  display: inline-block;
  margin: 60px auto;
  height: 30px;
  font-weight: bold;
  width: 30%;
  border: 1px solid #333;
}

#email-placeholder:focus {
outline: none;
border-color: #595f96ff;
}

#email-button {
  display: inline-block;
  margin: auto;
  width: 70px;
  height: 30px;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: #cd4d00ff;
  border: 1px solid #333;
  cursor: pointer;
}

#email-button:hover {
background: #ce6c3f;
}

#email-button:focus {
outline: none;
border-color: #595f96ff;
}


 
